{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 
  <p>
    During the workshop you will build and deploy your very first <b>Angular Web Application!</b>
    Angular is an open-source platform for building web applications, developed by Google and the community.</p><p>
    It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even robots!
    <!--
        Then, a few days later, you will join the Angular community at <b>AngularUP international conference!</b>
    -->
  </p>
</div>
