{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable schedule</b></h7>
   <ul>

<li><b>08.00 - 09.00</b> - Arrival and registration</li>
<li><b>09:00 - 10:00</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>10:00 - 12:00</b> - coding and having fun</li>
<li><b>12:00 - 13:00</b> - lunch</li>
<li><b>13:00 - 15:45</b> - coding and having fun</li>
<li><b>15:45 - 16:00</b> - optional: Joining main hall for closing</li>
<li><b>16:00 - 16:45</b> - coding and having fun</li>
<li><b>16:45 - 17:00</b> - Closing lecture</li>
<li><b>17:00 - 18:00</b> - continue coding</li>
                </ul>
</div>


