{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">

<p>
  We believe a more diverse industry is the key to build better products and services for everyone. People from different backgrounds, ethnicities and genders all have unique perspectives to add to the programming mix and cultural matrix inside tech workplace cultures.
</p>
<p>
We defined a <a href="/coc/">Code of Conduct</a>. The workshop is for everyone, we want every single person to feel safe and welcome. Be kind to everyone at all times regardless of gender, age, disability, ethnicity, nationality, religion, etc.
</p>
<p>
As long as you are agree the above, you are welcome to join the workshop!
</p>
</div>
