{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <p>To participate in the workshop you'll need:</p>
 <ul>
   <li>Basic knowledge in web development: HTML, CSS</li>
   <li>Basic knowledge of JavaScript or any other programming languages (e.g. .NET, Java, PHP)    </li>
 </ul>
 <p>No worries if you're a total beginner, here are some <a href="{{ resourcesUrl }}">resources</a> to catch up BEFORE attending the workshop. 
  </p>
</div>
