{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">

    <p>The workshop takes a little fee RM 5. However, we would like to make sure people show up for the event, therefore, you will need to pay <strong>RM 30 </strong>upfront, then on the workshop day, you can choose to:
      </p>
    <ul>
      <li>Get back the RM 25 in cash</li>
      <li>Donate the RM 25 the amount to ngGirls</li>
    </ul>
    
</div>
