{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
<p>If you have a credit card, just get the workshop ticket here. If you don’t have a credit card, do a bank transfer to the below account, and fill in this google form, we will issue you a ticket once confirm the transaction.
    </p>
<p>
        Don’t wait too long, we have limited slots - please apply for a pass until<b> June 15th, 2019!     </b>
        <!--<b>Applications closed on January 29th, 2017.</b>-->
        <br>You are welcome to join the <a href="http://www.meetup.com/ngGirls/" target="_blank">ngGirls meetup group</a> to get informed about future events.
        </p>
</div>
