{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding a one-day Angular workshop for beginners!
    It will take place on <b>Sunday, July 7th, 2019 at <a href="https://goo.gl/maps/tXrv2SoH4ir">Sunway University</a> (Kuala Lumpur, Malaysia)</b>.
  </p>
</div>
