<div class="post-body container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="https://twitter.com/AngularGirlsKC?ref_src=twsrc%5Etfw" class="twitter-follow-button"
               data-size="large"
               data-show-count="false">Follow @AngularGirlsKC</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a href="https://twitter.com/KCWomeninTech?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @KCWomeninTech</a>
        </div>
        <div class="col-md-6">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
            <div class="fb-page" data-href="https://www.facebook.com/AngularGirlsKC" data-height="70px"
                 data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                 data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/AngularGirlsKC" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/AngularGirlsKC">Angular Girls KC</a></blockquote>
            </div>
            <div class="fb-page" data-href="https://www.facebook.com/KCWomenInTech" data-height="70px"
                 data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                 data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/KCWomenInTech" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/KCWomenInTech">Kansas City Women in Technology</a></blockquote>
            </div>
        </div>
    </div>
</div>



