{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Tentative schedule</b></h7><br/>
  <h7>Friday evening, July 26</h7>
  <ul>
    <li><b>6:00 - 6:30</b> - attendee check in</li>
    <li><b>6:30 - 8:30</b> - tools installation and pizza party</li>
  </ul>
  <h7>Saturday all-day, July 27</h7>
  <ul>
<li><b>9:00 - 9:45</b> - check in and light breakfast buffet</li>
<li><b>9:45 - 10:30</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>10:30 - 12:30</b> - coding session</li>
<li><b>12:30 - 1:30</b> - lunch break</li>
<li><b>1:30 - 5:00</b> - continue coding</li>
<li><b>5:00 - 5:30</b> - closing lecture, retrospective, and goodbyes</li>
  </ul>
</div>
