{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
  <p>Of course! There are several ways you can help: </p>
  <ul>
    <li>
      <b>Mentors</b> - you have a significant impact on the participants' experience.
      If you can volunteer at the workshop and give some support on the days before and after, we'd love to have you!
      You don't need to be an Angular expert - just a web developer.
      <a href="{{ site.data.kc-2019.mentorsForm }}" target="_blank">Call for Mentors</a>
    </li>
    <li style="margin-top: 15px;">
      <b>Volunteers</b> - you help make the event run smoothly and successfully.
      If you can volunteer during the workshop or install party, we'd love to have you!
      You don't need to be a developer - just someone enthusiastic about supporting women in technology.
      <a href="{{ site.data.kc-2019.mentorsForm }}" target="_blank">Call for Volunteers</a>
    </li>
    <li style="margin-top: 15px;">
      <b>Sponsors</b> - with your help we can make our events truly awesome! From providing meals, through funding transportation vouchers for qualifying attendees, to supplying cool ngGirls goodies - there are a lot of opportunities to help.
      <a href="mailto:nggirls@kcwomenintech.org?subject=Sponsoring ngGirls">Call for Sponsors</a>
    </li>
    <li style="margin-top: 15px;">
      <b>Anyone</b> - There are many other ways to help us. We'd love to hear your ideas and/or assign you some chores.
      Huge thanks in advance!
    </li>
  </ul>
  <p>Don't be shy, just <a href="mailto:nggirls@kcwomenintech.org?subject=Helping with ngGirls">contact us</a>.</p>
</div>
