<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.partnersTitle }}</h3>
            {% for partner in site.data.kc-2019.partners %}
            <h5>{{ partner.group }}</h5>
            <ul class="list-inline">
                {% for element in partner.elements %}
                {% if partner.type == 'venue' %}
                <li {% if element.width != null %}style="max-width: unset; width: {{ element.width }};"{% endif %}>
                {% else %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                {% endif %}
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}"
                             title="{{ element.description }}"
                             alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

            <a href="mailto:nggirls@kcwomenintech.org?subject=Sponsoring ngGirls"
               target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div> 
</section>
<!-- End Partners Section -->

