{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding series of workshops for beginners!
    First workshop will take place on <b>Saturday, July 14th, 2018, in Karachi, Pakistan</b>.
  </p>
  <p>
    We believe that the IT industry will greatly benefit from bringing more women into technology.
    We want to give you an opportunity to learn how to program and become a programmer.
  </p>
  <p>
    During the workshops you will be focusing on the frontend web development basics! Our first workshop will cover HTML and CSS following the set up and installation for the next workshops. 
    In the second workshop we will cover Javascript fundamentals. And finally the third workshop will help you kickstart the Angular Framework.<br>
    <b>Here are the dates for our workshops.</b>
    <ol>
      <li>HTML and CSS - 14th July 2018</li>
      <li>Javascript Basics - 21st July 2018</li>
      <li>Kickstart with Angular - 29th July 2018</li>
    </ol>

    Angular is an open-source platform for building web application, developed by Google and the community.
    It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even robots!
  </p>
  <p>
    The workshop is <b>free of charge</b>. Just fill out the <a href="{{ site.data.karachi2018.applicationForm }}" target="_blank">application form.</a>
  </p>
  <p>
    Don't wait too long - <b>you can apply for a pass only until July 14th, 2018!</b>
    <br>You are welcome to join the <a href="http://www.meetup.com/ngGirls/" target="_blank">ngGirls meetup group</a> to get informed about future events.
  </p>
  <p>
    For more information about ngGirls <a href="{{ faqUrl }}">check out the FAQ</a>
  </p>
</div>