{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl = site.baseurl | append: '/faq' %} {% assign resourcesUrl
= site.baseurl | append: '/faq' %}

<div class="post-body">
  <h7>
    <b>TBD</b>
  </h7>
  <ul>
    <li>
      <b>09:00 - 09:30</b> - check in
    </li>
    <li>
      <b>09:40 - 10:10</b> - Welcome presentation
    </li>
    <li>
      <b>10:10 - 11:00</b> - HTML session
    </li>
    <li>
      <b>11:00 - 12:00</b> - Workshop begins
    </li>
    <li>
      <b>12:00 - 12:30</b> - Building blocks of web design by Maria Khan
    </li>
    <li>
      <b>12:30 - 01:15</b> - CSS sesion
    </li>
    <li>
      <b>01:15 - 02:15</b> - Lunch break
    </li>
    <li>
      <b>02:15 - 03:15</b> - Workshop begins
    </li>
    <li>
      <b>03:30 - 04:00</b> - DevTools: The tricks you should know by Taley'a Mirza
    </li>
    <li>
      <b>04:00 - 04:30</b> - Setup and installation for next workshop
    </li>
    <li>
      <b>04:30 - 05:00</b> - Refreshment + networking
    </li>
  </ul>
</div>