{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl = site.baseurl | append: '/faq' %} {% assign resourcesUrl
= site.baseurl | append: '/faq' %}

<div class="post-body">
  <ul>
    <li>
      <b>09:00 - 09:30</b> - Check In / installation check
    </li>
    <li>
      <b>09:40 - 10:00</b> - Welcome presentation
    </li>
    <li>
      <b>10:00 - 11:00</b> - TypeScript & Angular Introduction
    </li>
    <li>
      <b>11:00 - 11:45</b> - Practice Session #1
    </li>
    <li>
      <b>11:45 - 12:30</b> - Angular fundamentals (Part 1)
    </li>
    <li>
      <b>12:30 - 01:00</b> - Practice Session #2
    </li>
    <li>
      <b>01:00 - 01:30</b> - An Introvert's Guide to Networking by Faiza Yousuf
    </li>
    <li>
      <b>01:30 - 02:15</b> - Lunch Break
    </li>
    <li>
      <b>02:15 - 02:45</b> - Creating a classic game using HTML5 and JavaScript by Ahsan Ayaz
    </li>
    <li>
      <b>02:45 - 03:30</b> - Angular fundamentals (Part 2)
    </li>
    <li>
      <b>03:30 - 04:30</b> - Practice Session #3
    </li>
    <li>
      <b>04:30 - 05:30</b> - Refreshment + Networking
    </li>
  </ul>
</div>