{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
  <p>Of course! There are several ways you can help: </p>
  <ul>
    <li style="margin-top: 15px;">
      <b>Sponsors</b> - with your help we can make our events truly awesome! From providing hosting fees for web conference software, through funding mentor appreciation gifts, to supplying subscriptions to online learning resources - there are a lot of opportunities to help.
      <a href="mailto:nggirls-team@kcwomenintech.org?subject=Sponsoring ngGirls">Call for Sponsors</a>
    </li>
    <li style="margin-top: 15px;">
      <b>Anyone</b> - There are many other ways to help us. We'd love to hear your ideas and/or assign you some chores.
      Huge thanks in advance!
    </li>
  </ul>
  <p>Don't be shy, just <a href="mailto:nggirls-team@kcwomenintech.org?subject=Helping with ngGirls">contact us</a>.</p>
</div>
