{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Tentative schedule (all times listed in Central Time)</b></h7><br/>
  <h7>Friday evening, July 24</h7>
  <ul>
    <li><b>6:15 - 6:30</b> - attendee check in</li>
    <li><b>6:30 - 8:30</b> - tools installation party</li>
  </ul>
  <h7>Saturday all-day, July 25</h7>
  <ul>
    <li><b>9:15 - 9:30</b> - check in, meet your group</li>
    <li><b>9:30 - 10:15</b> - opening announcements and overview of Angular</li>
    <li><b>10:15 - 12:15</b> - coding, yoga</li>
    <li><b>12:15 - 1:00</b> - lunch break</li>
    <li><b>1:00 - 5:00</b> - coding, yoga, lightning talks, Q&A with Angular team </li>
    <li><b>5:20 - 5:45</b> - closing announcements, sponsor presentations, raffle prizes, and goodbyes</li>
  </ul>
</div>
