<div class="post-body">
    
    <b>ngGirls Online is more than just a workshop. It’s an opportunity to connect, learn and grow.</b><br/>
    In addition to following our tutorial, you’ll get:
    <ul>
        <li>Personal help from your mentor, with whom you’ll live-share your code</li>
        <li>Code at your own pace, with an additional day to work on it and display your app</li>
        <li>Lightning talks about Web apps and Angular</li>
        <li>Quizzes, challenges and prizes!</li>
        <li>Learn professional tips & tricks, as well as anything you’d like to know about being a Web developer</li>
        <li>Connect with your group and continue working on additional features with the help of your mentor</li>
        <li>Build and display your work - as part of your programmer’s portfolio, or just for fun!</li>
    </ul>
    <p>
        The workshop is <b>free of charge</b>. Just fill out the 👉🏽<a href="{{ site.data.ngVikings2020.applicationForm }}" target="_blank">application form.</a>👈
    </p>
    <p>
        Don't wait too long - <b>you can apply for a pass only until {{ site.data.ngVikings2020.deadline }}!</b>
    </p>
    <p>
        Get started with Angular and you’ll be ready for <a href="https://ngvikings.org/" target="_blank">ngVikings Online
        - the Free Angular conference</a> on May 25-26! Get your ticket now :)
    </p>

    The workshop schedule includes: (All times are in Central European Summer Time; a detailed schedule will be sent to the participants by mail)
    <ul>
        <li><b>Saturday, May 23rd</b>, 9:00 - 🎙️ intro session about ngGirls and Angular</li>
        <li>10:20 - 💻 start coding & 👋👋🏾👋 connecting and enjoy 🎙️ lightning talks </li>
        <li>16:00-17:00 - 🖼️ display your app, closing notes and raffle</li>
        <li><b>Sunday, May 24th</b>, 9:00 - 💻 continue working if you’d like, we’ll be there to help</li>
        <li>16:00-17:00 - 🖼️ display additional work you’ve done on your app</li>
        <li><b>Monday and Tuesday, May 25-26</b> Join the ngVikings Conference!</li>
    </ul>
</div>
