{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
    <h7><b>Schedule - All times are in EST</b><br /></h7>
    <h7>Saturday, May 23rd</h7>
    <ul>
        <li><b>09:00 AM - 09:15 AM</b> - 💻 Check in</li>
        <li><b>09:15 AM - 10:00 AM</b> - 🎙️opening lecture: introduction to ngGirls</li>
        <li><b>10:15 AM - 12:15 AM</b> - Workshop start: hands on</li>
        <li><b>12:15 AM - 12:30 AM</b> - 🎙️Lightning Talk</li>
        <li><b>12:30 AM - 01:30 PM</b> - 🍕 lunch break</li>
        <li><b>01:30 PM - 03:15 PM</b> - continue coding</li>
        <li><b>03:15 PM - 03:30 PM</b> - 🎙️Lightning Talk</li>
        <li><b>03:30 PM - 04:30 PM</b> - continue coding</li>
        <li><b>04:30 PM - 05:30 PM</b> - 👋👋🏾👋🏻Closing lecture and goodbyes</li>
    </ul>
    <h7>Sunday, May 24th </h7>
    <ul>
        <li><b>16:00 AM - 17:00 AM</b> - 💻after workshop hour</li>
    </ul>
</div>
