{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding a two-day workshop for beginners!
    It will take place on <b>on Tuesday & Wednesday, November 5-6th, in Kharkiv, Ukraine</b>.
  </p>
  <p>
    We believe that the IT industry will greatly benefit from bringing more women into technology.
    We want to give you an opportunity to learn how to program and become a programmer.
  </p>
  <!--  <p>
      <b>Angular 2</b> is an open-source platform for building web application, developed by Google and the community.
      It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even Arduino!
      <a href="{{ AngularUrl }}">Why we love Angular 2</a>
    </p>-->
  <p>
    During the first workshop day you will build and deploy your very first Angular Web Application! 
    Angular is an open-source platform for building web application, developed by Google and the community. 
    It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even robots!
  </p>
  <p>
    In the second day you will learn and practice various topics related to web, development, and soft skills. 
    You will learn how to use Git, how to nail an interview, and how to get more involved in the community.
  </p>
  <p>
    To participate in the workshop you'll need some basic knowledge in web development:
    HTML, CSS and basic JavaScript or any other programming language.
    If you're a total beginner, here are some <a href="{{ resourcesUrl }}">resources</a> to catch up.
  </p>
  <p>
    The workshop is <b>free of charge</b>. 
    Don’t wait too long - <b>you can apply for a pass only until October, 20th, 2019!</b>
  </p>
  <p>
    For more information about ngGirls @ NgTalks 2019 <a href="{{ faqUrl }}">check out the FAQ</a>
  </p>
</div>
