<!-- Begin Hero Section -->
<style>
    .top-section-hero a {
        color: #f4919f;
    }
    .top-section-hero a:hover {
        color: #f6d3d8;
    }

</style>
<section id="home" class="top-section-hero top-section image-section parallax"
         style="background-image: url('{{ site.baseurl }}/img/sections-background/eclipse.png');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <div class="logo logo-big"></div>
            <div class="logo logo-name"></div>
            <!--{% assign heroText = site.heroTitle %}-->
            <!--<h1>{{ heroText }}<span class="hidden-xs"></span></h1>-->
            <p style="line-height: 20px; font-size: 20px; margin-bottom: 0;">
                Upcoming Events:
            </p>
            <div class="row-container" style="max-height: 100%; overflow: visible;">
                 
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="row">
                            {% for event in site.upcomingEvents %}
                            <a href="{% if event.permalink != null %} {{ event.permalink | prepend: site.baseurl }} {% else %} {{ event.link }} {% endif %}">
                                <div class="col-Xmd-2 events col-xs-6  col-md-3 col-md-offset-0">
                                <!-- <div class="col-Xmd-2 events col-xs-6 col-xs-offset-3 col-md-4  col-md-offset-0"> -->
                                    <div class="col-xs-11 col-xs-offset-1 col-md-10 col-md-offset-1 events__image" style="background-image: url(/img/sections-background/{{event.image}})">
                                        <div class="events__overlay">
                                            <p class="events__city">{{event.location}}</p>
                                            <span class="events__date">{{ event.date }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->