<!-- Patreon Section -->
<section id="patreon" class="about" style="background: antiquewhite; margin-top: 20px; padding-top: 30px">
    <div class="content-wrapper">
        <div class="col-md-6 col-md-offset-3">
            <a href="https://www.patreon.com/ngGirls" target="_blank" style="color: #7b1fa2;">
                <h4>Support ngGirls on Patreon</h4>
                <img src="{{ site.baseurl }}/img/other/patreon.jpeg" alt="patreon" style="max-width: 100%; width: 430px;">
            </a>
        </div>
    </div>
</section>
<!-- End Patreon Section -->
