
.karachi nav li a {
    color: black !important;
    font-weight: 500;
}

.karachi-sponsor .list-inline {
    margin-bottom: 0;
    height: 180px;
}

.karachi-sponsor li img {
    width: 350px;
    max-width: 350px;
}

.karachi-sponsor .karachi-btn {
    margin-top: 60px;
}