
.karachi nav li a {
    color: black !important;
    font-weight: 500;
}

.karachi-sponsor .list-inline {
    margin-bottom: 0;
    height: 180px;
}

.karachi-sponsor li img {
    max-width: 150px;
}

.karachi-sponsor .karachi-btn {
    margin-top: 120px;
}