{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <h7><b>Tentative schedule</b> - Mountain Daylight Time (Utah, USA, GMT-6)</h7>
  <ul>
    <li><b>9:00 - 10:00</b> - ngGirls and Angular overview</li>
    <li><b>10:00 - 16:00</b> - coding, networking, lightning talks</li>
    <li><b>16:00 - 17:00</b> - closing remarks and raffle prizes</li>
  </ul>
</div>
