{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
	<p>
		Due to the situation with COVID-19. All our ngGirls workshops, will be delivered online.<br />
	We're planning to give you the best, most engaging experience.</p>
	<ul>
		<li>The workshop will happen as planned, on Saturday, June 26th, between 9am - 5pm (GMT + 3 / AST).</li>
		<li>We'll start with an intro to Angular, then work in virtual groups with the help of the mentors.</li>
		<li>Applicants from all over the US and the whole world are welcome! Help us spread the word and invite all your friends!</li>
		<li>Mentors needed - from all over the world!</li>
	</ul>
	<p>Please expect more details and acceptance emails in the coming week. 
	</p>
</div>
