{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <h7><b>Tentative schedule</b> - Arabian Standard Time (Doha, Qatar, GMT + 3)</h7>
  <ul>
    <li><b>09:00am - 09:30am</b> - ngGirls and Angular overview</li>
    <li><b>09:30am - 11:00am</b> - coding, networking</li>
    <li><b>11:00am - 11:30am</b> - short break, lightning talk</li>
    <li><b>11:30am - 12:30pm</b> - coding, networking</li>
    <li><b>12:30pm - 13:30pm</b> - lunch break</li>
    <li><b>13:30pm - 15:00pm</b> - coding, networking</li>
    <li><b>15:00pm - 15:30pm</b> - short break, lightning talk</li>
    <li><b>15:30pm - 17:00pm</b> - coding, networking</li>
    <li><b>17:00pm</b> - closing remarks</li>
  </ul>
</div>
