<div class="post-body">
    <p> Nós acreditamos que o mercado de TI irá se beneficiar muito ao trazer mais mulheres para a área de tecnologia. Por conta
        disso e também em acreditar na diversidade e na igualdade de gênero, estamos oferecendo uma oportunidade para as
        mulheres aprenderem a programar e se tornarem programadoras.
    </p>
    <p> O ngGirls é um workshop gratuito que tem o objetivo de ensinar mulheres a programar em Angular, uma plataforma open-source
        para a construção de aplicativos web, desenvolvida pelo Google. Ela oferece várias ferramentas para criar facilmente
        um website, plataforma digital, programas de computador e aplicativos para dispositivos móveis.
    </p>
    <p> Para participar do workshop você precisa ter noção ou conhecimento básico em HTML, CSS e Javascript ou qualquer outra
        linguagem de programação. Se você é iniciante e não conhece os itens listados acima, não tem problema. Vamos te oferecer
        total suporte e apoio para você conseguir desenvolver sua primeira aplicação em Angular.
    </p>
    <p> O workshop é 100% gratuito e irá acontecer no dia 25 de abril de 2020 das 9h às 19h na Ame Digital - R. Fidêncio Ramos, 302 - Vila Olímpia, São Paulo - SP.
    </p>
    <p> Para saber como chegar,
        <a target="_blank" href="https://www.google.com.br/maps/place/Ame+Digital/@-23.5946869,-46.6881911,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce57bae1b845e9:0x9a9f563fc2cbb879!8m2!3d-23.5946918!4d-46.6860024?hl=pt-BR">clique aqui</a>.
    </p>
    <p>
        Para mais informações sobre o ngGirls @ ngGirlsSP
        <a href="{{ faqUrl }}">consulte o nosso FAQ.</a>
    </p>
</div>