<div class="post-body">
    <p>
        All participants will be divided into groups of 3-5 and each group is assigned a Mentor.
        This mentor will also guide the teams through the whole installation process and will
        be available for any kind of question before and of course during the workshop.
        Together in this team you will develop a Angular Application divided in step by step tasks.
        After each task we even prepared a small quiz for you and your team to challenge what you have
        learned that far.
        In that way each team will be in a small fun competition against each other and the winner will even get a
        small price by the end of the day
    </p>
    <p>
        In a guided tutorial you will learn:
    <ul>
        <li>The basics of Web Development</li>
        <li>Angular Development</li>
        <li>How to continue your journey as a developer</li>
    </ul>
    </p>
    <p>
        At the end of the workshop, you will be at the point where you will have a basic idea of Angular.
        And you will be able to start your journey into Angular from there.
        WWe will also share a list of resources you can refer to at the end to gain a deeper understanding of Angular.
    </p>
    <p>
        But it is not only about learning how to develop. It is also about networking
        and getting to know real developers and connecting with them.<br>
        Feel free to ask any kind of question to your mentor based on the daily live as a developer.
    </p>
</div>
