{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl =
site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append:
'/faq' %}

<div class="post-body">
  <h7><b>Schedule - All times are in IST</b></h7>
  <ul>
    <li><b>09:00 AM - 09:15 AM</b> - Check-in</li>
    <li>
      <b>09:15 AM - 09:30 AM</b> - Introduction to ngGirls and the agenda
    </li>
    <li><b>09:30 AM - 10:00 AM</b> - Keynote Session</li>
    <li><b>10:00 AM - 12:30 AM</b> - Coding</li>
    <li><b>12:30 AM - 01:00 PM</b> - Lunch Break</li>
    <li><b>01:00 PM - 03:45 PM</b> - Continue coding</li>
    <li><b>03:45 PM - 04:00 PM</b> - Break</li>
    <li><b>04:00 PM - 05:45 PM</b> - Continue coding</li>
    <li><b>05:45 PM - 06:00 PM</b> - Closing lecture and goodbyes</li>
  </ul>
</div>
