{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl =
site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append:
'/faq' %}

<div class="post-body">
  <h7><b>Schedule - All times are in IST</b></h7>
  <ul>
    <li><b>08:45 AM - 09:15 AM</b> - Check in</li>
    <li>
      <b>09:15 AM - 09:30 AM</b> - Introduction to ngGirls and Angular
    </li>
    <li><b>09:30 AM - 10:00 AM</b> - Keynote</li>
    <li><b>10:00 AM - 12:15 PM</b> - Coding</li>
    <li><b>12:15 PM - 12:30 PM</b> - Quiz #1</li>
    <li><b>12:30 PM - 01:15 PM</b> - Lunch break</li>
    <li><b>01:15 PM - 03:00 PM</b> - Continue coding</li>
    <li><b>03:00 PM - 03:15 PM</b> - Quiz #2</li>
    <li><b>03:15 PM - 05:00 PM</b> - Continue coding</li>
    <li><b>05:00 PM - 05:15 PM</b> - Quiz #3 </li>
    <li><b>05:15 PM - 05:30 PM</b> - Closing lecture and goodbyes</li>
  </ul>
</div>
