{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable schedule</b></h7>
   <ul>

<li><b>until 9:30</b> - check in</li>
<li><b>9:30 - 10:45</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>9:30 - 10:45</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>10:45 - 13:00</b> - coding and having fun</li>
<li><b>13:00 - 13:45</b> - lunch</li>
<li><b>13:45 - 16:30</b> - closing lecture</li>
<li><b>16:30 - 18:00</b> - still coding (if you want :) )</li>
                </ul>
</div>