{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl =
site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append:
'/faq' %}

<div class="post-body">
  <ul>
    <li><b>10:00</b> - Check In & Networking</li>
    <li><b>10:30</b> - Opening Lecture: Introduction to ngGirls and Angular</li>
    <li><b>10:45</b> - Workshop Begins</li>
    <li><b>11:50</b> - Raffle & Giveaways</li>
    <li><b>12:00</b> - Lunch Break & Networking</li>
    <li><b>12:45</b> - Workshop Resumes</li>
    <li><b>2:00</b> - Lightning Talk & Raffle Giveaways</li>
    <li><b>4:00</b> - Workshop Concludes & Coffee/Tea Networing Begins</li>
    <li><b>4:30</b> - ngGirls Concludes</li>
  </ul>
</div>
