{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
	<p>
		ng-conf this year will be a fully virtual event, due to the situation with COVID-19. All the workshops, including ngGirls, will be delivered online.<br />
	We're still working out the details for how to give you the best, most engaging experience. In the meantime, here are a few things we already know:</p>
	<ul>
		<li>The workshop will happen as planned, on Tuesday, March 31st, between 10am - 5pm (MDT).</li>
		<li>Applicants from all over the US and the whole world are welcome! Help us spread the word and invite all your friends!</li>
		<li>We're going to need more mentors - from all over the world!</li>
	</ul>
	<p>Please expect more details and acceptance emails in the coming week. 
	</p>
</div>
