{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
    <h7><b>Probable schedule</b></h7>
    <ul>
        <li><b>9:00 - 9:00</b>Registration and morning coffee</li>
        <li><b>9:30 - 10:30</b> Opening lecture: introduction to ngGirls and Angular</li>
        <li><b>10:30 - 11:30</b> Coding</li>
        <li><b>11:30 - 12:00</b>Coffee break</li>
        <li><b>12:00 - 13:30</b>Continue coding</li>
        <li><b>13:30 - 14:30</b>Lunch</li>
        <li><b>14:30 - 17:00</b>Continue coding</li>
        <li><b>17:00 - 17:30</b>Closing lecture and goodbyes</li>
    </ul>
</div>
