{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl =
site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append:
'/faq' %}

<div class="post-body">
  <h7><b>Schedule - All times are in AEST</b></h7>
  <ul>
    <li><b>09:00 AM - 09:1 AM5</b> - check in</li>
    <li>
      <b>09:15 AM - 10:00 AM</b> - opening lecture: introduction to ngGirls and
      Angular
    </li>
    <li><b>10:00 AM - 12:30 AM</b> - coding</li>
    <li><b>12:30 AM - 1:30 PM</b> - lunch break</li>
    <li><b>1:30 PM - 4:30 PM</b> - continue coding</li>
    <li><b>4:30 PM - 5:00 PM</b> - closing lecture and goodbyes</li>
  </ul>
</div>
