{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding a one-day workshop for beginners!
    It will take place on <b>{{ site.data.australia-2020.date }} {{ site.data.australia-2020.location }}</b>.
  </p>
  <p>
    During the workshop, you will build and deploy your very first Angular Web Application! Angular is an
    open-source platform for building a web application, developed by Google and the community. It gives various
    tools to easily create a dynamic, interactive app that can run on desktop browsers, mobile, and even robots!
  </p>
  <p>
    <b>Prerequisites:</b><br>
    You would need to have a basic understanding of HTML, CSS, and JavaScript.
    That said additional small tasks will be given to you to help you revise basic web technologies
    knowledge before the event.
  </p>
  <p>
    The workshop is <b>free of charge</b>.
    Just fill out the <a href="{{ site.data.australia-2020.applicationForm }}" target="_blank">application form.</a>
    Don’t wait too long - <b>The seats are limited. So the registration is open till {{ site.data.australia-2020.deadline }}
    or till the seats last. Hurry up!</b>
    For more information <a href="{{ faqUrl }}">check out the FAQ</a>
  </p>
</div>
