<div class="post-body">
    <p>
        Before the workshop you will be assigned to a mentor in a group of 4 - 5.<br>
        This mentor will guide you through the whole installation process and will
        be available for you for any kind of question before the workshop and during the whole
        workshop day.
    </p>
    <p>
        In a guided tutorial you will learn the basics of:
    <ul>
        <li>Technologies such as HTML, CSS and JavaScript</li>
        <li>Basics of Web Development</li>
        <li>Angular Development</li>
    </ul>
    <br>
    By the end of the day you will have learned all the basics of developing and
    you will also develop a small Angular Application by your own.
    <p>
        But it is not only about learning how to develop. It is also about networking
        and getting to know real developers and connecting with them.<br>
        Feel free to ask any kind of question to your mentor based on the daily live as a developer.
    </p>
</div>
