{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl =
site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append:
'/faq' %}

<div class="post-body">
  <h7><b>Schedule - All times are in UTC+1 (UK time)</b></h7>
  <ul>
    <li><b>12:00 - 12:15</b> - check in</li>
    <li>
      <b>12:15 - 13:00</b> - opening lecture: introduction to ngGirls and
      Angular
    </li>
    <li><b>13:00 - 15:00</b> - coding</li>
    <li><b>15:00 - 16:00</b> - lunch break</li>
    <li><b>16:00 - 17:30</b> - continue coding</li>
    <li><b>17:30 - 18:00</b> - closing lecture and goodbyes</li>
  </ul>
</div>
