{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
  <p>¡Por supuesto! Hay varias maneras en que puedes ayudar: </p>
  <ul>
    <li>
      <b>Mentores</b> - Tienes un gran impacto en la experiencia de las participantes. Si puedes ofrecerte como voluntario en el taller y brindar algún apoyo los días anteriores y posteriores ¡Nos encantaría contar contigo! No necesitas ser un experto en Angular, solo
      <a href="{{ site.data.bolivia.mentorsForm }}" target="_blank">aplicar para mentor</a>
    </li>
    <li>
      <b>Patrocinador</b> - ¡Con tu ayuda podemos hacer que nuestros eventos sean verdaderamente increíbles! Desde apoyo para los meetups de nuestra comunidad Angular, suministro de almuerzo, refrigerios o la provisión de recuerdos - muchas oportunidades para ayudar.
    </li>
    <li>
      <b>Cualquier persona</b> - Hay muchas otras formas de ayudarnos. Nos encantaría escuchar sus ideas y / o asignarle algunas tareas ¡Muchísimas gracias de antemano!
    </li>
  </ul>
  <p>No seas tímido, solo <a href="mailto:angular.bolivia@gmail.com">contáctanos</a></p>
</div>
