{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
   ¿Eres una mujer interesada en aprender cómo desarrollar aplicaciones web con las últimas tecnologías?
     Tenemos buenas noticias ¡Tendremos un taller gratuito para ti!
     Se llevará a cabo el <b>sábado 24 de Noviembre, en la <a href="http://ucatec.edu.bo/" target="_blank">Universidad UCATEC</a> de la ciudad de Cochabamba, Bolivia</b>.
  </p>
  <p>
   Creemos que la industria de TI se beneficiará mucho de traer más mujeres a la tecnología.
   Queremos darte una oportunidad para aprender desarrollo web y convertirte en una programadora.
  </p>
  <p>
   Durante el taller, construirás y desplegarás tu primera aplicación web con Angular</b>.
   Angular es una plataforma de código abierto para la creación de aplicaciones web, desarrollada por Google y la comunidad.
   Ofrece diversas herramientas para crear fácilmente una aplicación dinámica e interactiva que puede ejecutarse en navegadores de escritorio, móviles e incluso robots.
  </p>
  <p>
    Para participar en el taller necesitarás algunos conocimientos básicos en desarrollo web:
    HTML, CSS y JavaScript básico o cualquier otro lenguaje de programación.
  </p>
  <p>
    El taller <b>no tiene costo</b>. Sólo llena el <a href="{{ site.data.bolivia.applicationForm }}" target="_blank">formulario de aplicación. </a>
  </p>
  <p>
    No esperes demasiado - <b>puedes aplicar hasta el miércoles 14 de Noviembre de 2018</b>
    <br>Te invitamos a unirte <a href="https://www.meetup.com/Angular-Bolivia/" target="_blank">al grupo de meetup de Angular Bolivia</a> para recibir información sobre futuros eventos y actividades.
  </p>
  <p>
    Para mas información sobre ngGirls @ Bolivia <a href="mailto:angular.bolivia@gmail.com">contáctanos</a>
  </p>
</div>
