<!-- Begin Hero Section -->
<section id="home" class="top-section-hero top-section image-section parallax ng-conf"
         style="background-image: url('{{ site.baseurl }}/img/sections-background/sofia.jpg');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <div class="logo logo-big"></div>
            <div class="logo logo-name"></div>
            <p>{{ site.data.devReach2019.eventDate }}</p>
            <a href="{{site.data.devReach2019.applicationForm}}" target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">Apply for the workshop</a>
            <a href="{{site.data.devReach2019.mentorsForm}}" target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">Call for mentors</a>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
