<div class="post-body">
    <ul>
        <li><b>Workshop topic: Advanced Component Patterns & Techniques in Angular</b><br/>
        	We will learn how to build a reusable, extendable, dynamic component in Angular through a series of hands-on exercises based on practical, real-world use cases.<br/> 
        	We will learn how to leverage Angular's rich directives API as well as best practices.
        </li>
        <li><b>When:</b> Sunday, March 22nd, 9:00 - 16:30</li>
        <li><b>Where:</b> Microsoft Reactor, Dubnov 7, Tel Aviv</li>
        <li><b>Preparations:</b> Bring your laptop. Lunch, drinks and snacks will be provided.</li>
        <li><b>Registration:</b> Apply by filling out this <a href="https://forms.gle/2osQveK2wBYtJdib7" target="_blank">registration form</a> and wait for our confirmation by mail (will be sent by March 10th). Make sure to check your spam / promotions folders...</li>
        <li><b>Application deadline:</b> March 8th</li>
        <li><b>More Questions?</b> email us at <a href="mailto:hello@ng-girls.org">hello@ng-girls.org</a></li>
    </ul>
</div>
