<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="about-details">
                    <div class="animated hiding row" data-animation="fadeInDown" data-delay="0">
                    	<div class="col-mid-3">
                        <img class="img-circle" src="{{ site.baseurl }}/img/pro-tlv-2020/nir_kaufman.jpeg" height="128" width="128" alt="Nir Kaufman">
                    </div>
                    <div class="col-md-7 text-left">
                        <h5>Nir Kaufman</h5>
                        <p>Experienced Web developer. Community enthusiast. Organizer of meetups. Public speaker.
                        Trainer. Author of books. Google developer expert in Angular.</p>
                        <blockquote>When I'm not coding I make music and vegan food.</blockquote>
                        <p><a href="https://www.nir.life/" target="_blank">nir.life</a></p>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- End About Section -->
